<section>
<div>
    <h2>Our <span>products</span> </h2>
<ul>
    <li>
        <div>
            <img width="230px" height="201px" srcset="/src/img/buychoko/orange2x.jpg 2x" src="/src/img/buychoko/orange1x.jpg" alt="orange">
                <h3> orange </h3>
                <p>Dark chocolate</p>
                <button>45 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div>
            <img width="230px" height="201px" srcset="/src/img/buychoko/apple2x.jpg 2x"  src="/src/img/buychoko/apple1x.jpg" alt="apple">
                <h3>APPLE&CRANBERRY</h3>
                <p>Milk chocolate</p>
                <button>50 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div>
            <img width="230px" height="201px"  srcset="/src/img/buychoko/lime2x.jpg 2x"  src="/src/img/buychoko/lime1x.jpg" alt="lime">
                <h3>lime&sea salt</h3>
                <p>Dark chocolate</p>
                <button>66 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div>
            <img width="230px" height="201px"  srcset="/src/img/buychoko/pineapple2x.jpg 2x"  src="/src/img/buychoko/pineapple1x.jpg" alt="pineapple">
                <h3>pineapple</h3>
                <p>Dark chocolate</p>
                <button>54 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div>
            <img width="230px" height="201px" srcset="/src/img/buychoko/milk2x.jpg 2x"   src="/src/img/buychoko/milk1x.jpg" alt="milk">
                <h3> Classic</h3>
                <p>Milk chocolate</p>
                <button>45 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div> 
            <img  width="230px" height="201px"  srcset="/src/img/buychoko/honey2x.jpg 2x"  src="/src/img/buychoko/honey1x.jpg" alt="honey">
                <h3>honey</h3>
                <p>Milk chocolate</p>
                <button>50 UAH</button>
            </img>
        </div>
    </li>
    <li>
        <div>
            <img  width="230px" height="201px" srcset="/src/img/buychoko/fruits2x.jpg 2x"   src="/src/img/buychoko/fruits1x.jpg" alt="fruits">
                <h3>Roasted fruits</h3>
                <p>Dark chocolate</p>
                <button>66 UAH</button>  
            </img>
        </div>
    </li>
    <li>
        <div>
            <img  width="230px" height="201px"  srcset="/src/img/buychoko/white2x.jpg 2x"  src="/src/img/buychoko/white1x.jpg" alt="white">
                <h3>Classic</h3>
                <p>White chocolate</p>
                <button>54 UAH</button>
            </img>
        </div>
    </li>
</ul>
</section>
















</div>