<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Chocolate is loved</h2>
    <div class="reviews-thump">
      <img src="" alt="" class="reviews-img" />
      <h3 class="reviews-thump-title"></h3>
      <p class="reviews-text"></p>
    </div>
    <div class="reviews-thump">
      <img src="" alt="" class="reviews-img" />
      <h3 class="reviews-thump-title"></h3>
      <p class="reviews-text"></p>
    </div>
    <div class="reviews-thump">
      <img src="" alt="" class="reviews-img" />
      <h3 class="reviews-thump-title"></h3>
      <p class="reviews-text"></p>
    </div>
    <button class="reviews-button" type="button">Leave a review</button>
  </div>
</section>
